.form-wrapper{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-wrapper p {
    cursor: pointer;
}