.todoItem {
    border: 2px solid rgb(85, 141, 233);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 10px;
}

.todoItem .name-div {
    display: flex;
    align-items: center;
    padding-left: 8px;
    width: 40%;
}

.todoItem .btns-container {
    display: grid;
}